.c1{
    margin-left: 250px;
    margin-top: 100px;
}
.game-square { 
    height: 96%; 
    text-align: center;
    line-height: 0.85;
    cursor: pointer;
  }

  p { 
    display: inline;
    margin: 0px;
    font-size: 14rem;
    overflow: hidden;
  }

  .noClick {
    pointer-events: none;
  }
 .app{
     text-align: center;
    height: 100px;
    
}
  button {
       width: 100%; height: 100%; 
    text-align: center;
    font-size: x-large;
    }
   