<div class="card text-white bg-light bg-dark"> 
<div class="app ">
<button class="btn  btn btn-outline-warning " *ngIf="!value">{{ value }}</button>
<button class="btn  btn-success"  *ngIf="value == 'X'">{{ value }}</button>
<button class="btn btn-danger" *ngIf="value == 'O'">{{ value }}</button>
  
</div>
</div>