.div1{
    margin-top: 100px;
    margin-right: 550px;
    margin-left: 550px;
    display: grid;
    border: 3px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
}
.btn{
    margin-top:10px ;
}
.startbtn{
    margin-left: 650px;
    text-decoration: none;

}