
<button type="button" class="btn btn-primary">
    Current Player <span class="badge bg-warning text-dark">{{ player }}</span>
  </button>
<div class="">

<h2 class="text-white text-center" *ngIf="winner && !gametie">
       Player {{ winner }} won the game!
       
</h2>
<h2 class="text-white text-center" *ngIf="gametie"   >
match tie
</h2>



<div class="div1 ">

    <app-game 
        *ngFor="let val of squares; let i = index" 
        [value]="val"
        (click)="makeMove(i)"> 

    </app-game>

</div>
<button class="startbtn badge rounded-pill  btn btn-md btn-danger" (click)="newGame()">Start new Game</button>

</div>